@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .search{
        @apply rounded-md w-full pl-5 text-2xl 2xl:h-10
    }
    .searchBarDiv{
        @apply 2xl:h-1/2 flex flex-col justify-evenly items-center
    }
    .input-label{
        @apply w-5/6 mb-2
    }
    /* flex 2xl:flex-row 2xl:justify-evenly 2xl:items-center */
    .categoriesDiv{ 
        @apply mt-3 flex flex-col xl:grid xl:grid-cols-3 gap-3 text-[10px] sm:text-base
    }
    .result-effects{
        @apply hover:scale-105 hover:shadow-md
    }
    .button{
        @apply rounded-3xl
    }
    .button-text{
        @apply text-8xl p-2
    }
    /* hover:shadow-md */
    .button-effects{
        @apply hover:scale-110
    }
    /* scrollbar for search-results */
    .scrollBar{
        @apply overflow-y-auto 
    }
    /* makes the scrollbar beautiful */
    .scrollBar::-webkit-scrollbar{
        @apply rounded-lg w-2
    }
    .scrollBar::-webkit-scrollbar-thumb{
        @apply rounded-lg bg-gray-500
    }
    /* Start of results component design */
    .results-title-design-desktop{
        @apply bg-blue-400 flex flex-row justify-between items-center pl-3 pr-5 py-2 rounded-t-3xl
    }
    .results-title-design-laptop{
        @apply bg-blue-400 flex flex-col justify-start pl-3 pr-5 py-2 rounded-t-3xl
    }
    .results-title-design-mobile{
        @apply bg-blue-400 flex flex-col justify-start pl-3 pr-5 py-2 rounded-t-3xl
    }
    .results-title-desktop{
        @apply text-lg text-white font-bold 
    }
    .results-title-laptop{
        @apply text-base text-white font-bold 
    }
    .results-mobile{
        @apply fixed bg-slate-200 h-2/6 bottom-0 z-[3] overflow-x-auto flex flex-col w-screen
    }
    /* End of results component design */
    /* Start of Search component design */
    .search-result-desktop{
        @apply block scrollBar h-4/6 2xl:h-[55%] w-full mt-3
    }
    .search-result-mobile{
    }
    .search-result-count-desktop{
        @apply w-10/12 h-[10%] m-auto pt-3 flex flex-col justify-center 2xl:justify-end
    }
    /* End of Search component design */
}

/* for search Suggestions of AutoComplete */
.pac-item {
    padding: 12px 0px;
    height: 48px;
}

.pac-item-query{
    font-size: 1rem;
    line-height: 1.5rem;
}