@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .search{
        @apply rounded-md h-12 w-full pl-5 text-2xl
    }
    .searchBarDiv{
        @apply h-1/2 flex flex-col justify-center items-center
    }
    .input-label{
        @apply w-5/6 mb-5
    }
    /* flex 2xl:flex-row 2xl:justify-evenly 2xl:items-center */
    .categoriesDiv{ 
        @apply mt-3 flex flex-col xl:grid xl:grid-cols-3 gap-3 text-[10px] sm:text-base
    }
    .result-effects{
        @apply hover:scale-105 hover:shadow-md
    }
    .button{
        @apply  rounded-3xl
    }
    .button-text{
        @apply text-8xl p-2
    }
    /* hover:shadow-md */
    .button-effects{
        @apply hover:scale-110 
    }
    /* scrollbar for search-results */
    .scrollBar{
        @apply overflow-y-auto
    }
    /* makes the scrollbar beautiful */
    .scrollBar::-webkit-scrollbar{
        @apply rounded-lg w-2
    }
    .scrollBar::-webkit-scrollbar-thumb{
        @apply rounded-lg bg-gray-500
    }
}

/* for search Suggestions of AutoComplete */
.pac-item {
    padding: 12px 0px;
    height: 48px;
}

.pac-item-query{
    font-size: 1rem;
    line-height: 1.5rem;
}