@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .search{
        @apply rounded-md h-12
    }
}

.pac-item {
    padding: 12px 0px;
    height: 48px;
}

.pac-item-query{
    font-size: 1rem;
    line-height: 1.5rem;
}

.autoComplete{
    width: 83.333%;
    margin: auto;
}

